{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|个人资料
{% endblock %}

{% block nav_home_active %}active{% endblock %}
{% block header_extends %}
<link rel="stylesheet"href="{% static 'user_info.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="user-info">
                    <h2>{{ user.username }}</h2>
                    {% if user.profile.nickname %}
                        <li>
                            昵称：<span>{{ user.profile.nickname }}</span><a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}"> 修改昵称 </a>
                        </li>
                    {% else %}
                         <li>
                            昵称：<a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}"> 修改昵称 </a>
                        </li>
                    {% endif %}
                    <li>
                        {% if user.email %}
                            邮箱：<span>{{user.email}}</span>
                        {% else %}
                            邮箱：<a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>
                        {% endif  %}
                    </li>
                    <li>
                        上一次登入的时间：{{ user.last_login }}
                    </li>
                    <li>
                        <a  href="{% url 'change_password' %}?from={{ request.get_full_path }}">修改密码</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
     
{% endblock %}